{% extends 'base.html' %}

{% block title %}Login{% endblock %}
{% load widget_tweaks %}

{% block content %}
<div>
    <div class='row justify-content-center'>
        <div class='card p-5 mt-5 col-md-6 col-sm-6 d-flex '>
            <form method="POST">
                {% csrf_token %}
                <h1 class='text-center'>Login</h1>
                {% for fields in form %}
                    <div class="form-group">
                        <label for="exampleInputEmail1">{{fields.label}}</label>
                        {{fields|add_class:'form-control'}}
                    </div>              
                <div class='mt-1 mb-3'>
                    {% if fields.errors %}
                        <div class="text-danger ">
                            {% for error in fields.errors %}
                                <div class="text-danger ">
                                    <span>{{error}}<span>
                                </div>       
                            {% endfor %}
                        </div>                 
                    {% endif %}                
                </div>    
                {% endfor %}               
                                
                <div class='text-center'>
                    <button type="submit" class="btn btn-primary mt-4">Submit</button>
                </div>
            </form>

        </div>
    </div>
</div>
{% endblock %}